body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.new-btn {
  margin-bottom: 20px;
}

.info {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.new-movie-container {
  padding: 2.2rem;
}

@media screen and (max-width: 740px) {
  .new-movie-container {
    padding: 0;
    white-space: nowrap;
  }

  .info {
    margin-bottom: 0;
  }
}

.new-movie {
  background: rgb(201, 92, 9);
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  outline: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: block;
}

.new-movie:active {
  background: #000;
  color: rgb(201, 92, 9) !important;
  text-decoration: none;
}

.new-movie:hover {
  text-decoration: none;
  color: #000;
}

.appLogo {
  width: 100px;
  height: fit-content;
  fill: rgb(90, 89, 89);
  transition: fill 0.3s;
}

.navbar-brand:hover .appLogo {
  fill: #000;
}

.list-group-item {
  cursor: pointer;
  transition: all 0.3s;
}

@media screen and (min-width: 991px) {
  .nav-link::after {
    display: block;
    content: "";
    padding: 0;
    border-bottom: 2px solid #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  
  .nav-link.active::after {
    transform: scaleX(1);
  }
  
  .hoverEffect {
    position: absolute;
    z-index: 1;
    background: rgb(201, 92, 9);
    border-radius: 100%;
    box-shadow: 0 0 50px 25px rgb(229, 255, 0);
  }

  .list-group-item:hover {
    background: rgb(233, 236, 239);
  }
}