body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.new-btn {
  margin-bottom: 20px;
}

.info {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

@media screen and (max-width: 740px) {
  .info {
    margin-bottom: 0;
  }
}

.appLogo {
  width: 100px;
  height: fit-content;
  fill: rgb(90, 89, 89);
  transition: fill 0.3s;
}

.navbar-brand:hover .appLogo {
  fill: #000;
}

.list-group-item {
  cursor: pointer;
  transition: all 0.3s;
}

@media screen and (min-width: 991px) {
  .nav-link::after {
    display: block;
    content: "";
    padding: 0;
    border-bottom: 2px solid #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }

  .nav-link.active::after {
    transform: scaleX(1);
  }

  .list-group-item:hover {
    background: rgb(233, 236, 239);
  }
}
